<div style="display: block; margin: auto; width: 60%; margin-block: 2%;">
    <form [formGroup]="searchLoanForm" (ngSubmit)="onSubmitFormSearch()" class="form-inline my-2 my-lg-0">
  
      <select class="form-control" id="typeSearchBy"  
        (change)="clearSearchValue()"
        formControlName="typeSearchBy">
        <option  *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>

      <ng-container *ngIf="this.searchLoanForm.value['typeSearchBy'] ==='Email'">
        <input class="form-control mr-sm-2" type="text" id="searchValue" placeholder="Search" formControlName="searchValue" >
      </ng-container>
      <ng-container *ngIf="this.searchLoanForm.value['typeSearchBy'] ==='Maximum date'">
        <input class="form-control mr-sm-2" type="date" id="searchValue" placeholder="Search" formControlName="searchValue" >
      </ng-container>     
      
      <button class="btn btn-primary " type="submit" >Search</button>

    </form>    
    <button class="btn btn-primary" id="addCustomer" (click)="openAddLoanDialog()">Ajouter un pret</button>
  </div>

  <div style="display: block; margin: auto; width: 80%;">
    <table class="table table-hover" >
      <thead>
        <tr>
          <th *ngFor="let headTab of headsTab">{{headTab}}</th>      
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of this.searchLoansResult">
          <td>{{element.bookDTO.isbn}}</td>
          <td>{{element.bookDTO.title}}</td>
          <td>{{element.customerDTO.email}}</td>
          <td>{{element.customerDTO.lastname}}</td>
          <td>{{element.loanbegindate | date:'dd/MM/yyyy' }}</td>
          <td>{{element.loanenddate | date:'dd/MM/yyyy'   }}</td>
          <td>
            <ng-container *ngIf="element.status === 'OPEN'">
              <button class="btn btn-danger" (click)="closeLoan(element)" >CLOSE</button>
            </ng-container>             
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <dialog id="formDialog" style=" width: 60%;">
    <div >
      <form [formGroup]="loanForm" >
          <fieldset>
            <legend>Creation de Pret</legend>
  
            <div class="form-group">
              <label for="isbn">ISBN</label>
              <input  class="form-control" id="isbn"  
              formControlName="isbn">
            </div>
  
            <div class="form-group">
              <label for="email">Email</label>
              <input  class="form-control" id="email"  
              formControlName="email">
            </div>
  
            <div class="form-group">
              <label for="begindate">date debut</label>
              <input  class="form-control" type="date" id="begindate"
              formControlName="begindate">              
            </div>

            <div class="form-group">
              <label for="enddate">date fin</label>
              <input  class="form-control" type="date" id="enddate"
              formControlName="enddate">              
            </div>

   
            <button class="btn btn-primary" (click)="onSubmitForm()">Valider</button>
            <button class="btn btn-primary" (click)="this.closeDialog()"  style="margin-left: 15%;">Annuler</button>
          </fieldset>
        </form>
  </div>
  
  </dialog>